<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/validation.js') }}"></script>
</head>
<body>
    <h1> Registro COVID-19</h1>
    <div>
        {% for message in get_flashed_messages() %} <!-- aqui se captura el mensaje de flash y se muestra-->
        {{ message }}
        {% endfor %}
    </div>
    <!-- <form action="{{ url_for('register')}}" method="post" name="formRegistro" onSubmit="validar_formulario()"> -->
    <form action="{{ url_for('CovidRegister')}}" method="post" name="formRegistro" onSubmit="validar_formulario()">
    <p>Nombre: <input type="text" name="nombre" id="nombre"> </p>   
    <p>Usuario: <input type="text" name="usuario" id="usuario"> </p>
    <p>
        Sexo: <input type="radio" name="sexo" value="h" id="sexo">Hombre
        <input type="radio" name="sexo" value="m">Mujer
    </p>
    <p> Correo electrónico: <input type="email" size=30 name="correo" id="correo"></p>
    <p> Contraseña: <input type="password" id="pass" name="pass1"></p>
        <img  onmouseover=showPassword() onmouseout= hidePassword() src="{{ url_for('static', filename='images/view.png') }}"
        width="50" height="50">
        <br>
        <input type="checkbox" name="condiciones">Declaro haber leido y acepto las condiciones generales del programa y la normativa sobre protección de datos
    </p>
    <button type="submit" value="Enviar">Enviar</button>
</body>
</html>